<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            h1{
            color:white;
            text-align: center;
            }
            body{
                background: #bfbe9f;
            }
            h2.renkli{
                color:blueviolet
            }
            .yan-yana{
                display:flex;

            }
            .yan-yana a{
                margin-right: 300px;
            }
        </style>
    </head>

    <body>

        <h1>Bu bir Başlıktır</h1>

        <p>Bu bir paragraf. <strong>İlk defaa</strong> 
        <strong><em>webbbb</em></strong>sanaa </p>

        <p>m<sup>2</supp></p>

        <h2 class="renkli">LİNK ÖRNEK</h2>

        <a href="https://www.kaggle.com/" target="_blank">LİNK HERE</a>
    
        <h2>Resimli Link</h2>

        

        <div class="yan-yana">
            <a href="https://tr.pinterest.com/pin/756393699920304388/">
                <img src="https://i.pinimg.com/564x/23/a4/fa/23a4fab0d09e723b6e15c68e2616f6e0.jpg" target="_blank" title="Art" alt="resim">
            </a>

            <h2>Sırasız Liste Örneği</h2>
            <ul>
                <li>Liste Örneği 1</li>
                <li>Liste Örneği 2</li>
                <li>Liste Örneği 3</li>
                <li>Liste Örneği 4</li>
            </ul>
    
            <ol>
                <li>Liste Örneği 1</li>
                <li>Liste Örneği 2</li>
                <li>Liste Örneği 3</li>
            </ol>

        </div>


        
    
    
    
    
    </body>







</html>